body {
  position: relative;
  padding-top: 50px;
}
#big-picture {
  cursor: help;
}
#about {
  color: white;
  background-image: url("https://dl.dropboxusercontent.com/u/50864049/portfolio/Doors.jpg");
  background-size: 100% 100%;
}
#portfolio {
  color: white;
  background-image: url("https://dl.dropboxusercontent.com/u/50864049/portfolio/Sunset.jpg");
  background-size: 100% 100%;
  
}
#contact {
  color: white;
  background-image: url("https://dl.dropboxusercontent.com/u/50864049/portfolio/Ocean.jpg");
  background-size: 100% 100%;
}
.portfolio-item:hover {
  box-shadow: 10px 10px 10px black;
}
#about-me{
  font-size: 1.5em;
  padding-top: 95px;
  padding-bottom: 195px
}
@media only screen and (max-width: 650px) {
  #big-picture {
    display: none;
  }
  #about {
    color: white;
    background-image: none;
    background-color: dimgray;
  }
  #portfolio {
    color: white;
    background-image: none;
    background-color: blue;
  }
  #contact {
    color: white;
    background-image: none;
    background-color: black;
  }
}