body {
  position: relative;
  padding-top: 50px;
}
#big-picture {
  background-color: black;
}
#about {
  color: white;
  background-image: url("https://dl.dropboxusercontent.com/u/50864049/Doors.jpg");
  background-size: 100% 100%;
}
#portfolio {
  color: white;
  background-image: url("https://dl.dropboxusercontent.com/u/50864049/Sunset.jpg");
  background-size: 100% 100%;
  background-color: black;
}
#contact {
	color: white;
	background-image: url("https://dl.dropboxusercontent.com/u/50864049/Ocean.jpg");
	background-size: 100% 100%;
}
.portfolio-item:hover {
	box-shadow: 10px 10px 10px black;
}