body {
  position: relative;
  padding-top: 50px;
}
#big-picture {
  cursor: help;
}
#about {
  color: white;
  background-image: url("/FCC-portfolio/images/Doors.jpg");
  background-size: 100% 100%;
}
#portfolio {
  color: white;
  background-image: url("/FCC-portfolio/images/Sunset.jpg");
  background-size: 100% 100%;
 }
#contact {
  color: white;
  background-image: url("/FCC-portfolio/images/Ocean.jpg");
  background-size: 100% 100%;
}
.portfolio-item:hover {
  box-shadow: 0 0 5px 5px black;
}
#about-me{
  font-size: 1.5em;
  padding-top: 50px;
  padding-bottom: 200px;
}
.heading {
  margin-top: 50px;
}
form {
  padding-top: 50px;
  padding-bottom: 150px;
}
ul {
  text-align:center;
}
li {
  display: inline-block;
}
i {
  color: white;
}
.footer {
  background-color: black;
  color: white;
}
@media only screen and (max-width: 650px) {
  #big-picture {
    display: none;
  }
  #about {
    color: white;
    background-image: none;
    background-color: #696969;
  }
  #about-me {
    padding-bottom: 50px;
  }
  #portfolio {
    color: white;
    background-image: none;
    background-color: #0099cc;
  }
  #contact {
    color: white;
    background-image: none;
    background-color: #3A3D3D;
  }
}